hr{
    border-color: lightslategray;
}

.exchange-name{
    font-size: 200%;
}

.recipient-label{
    font-size: 120%;
}

.select-container{
    width: 100px;
}

.username-label{
    margin-top:10px;
}

.name-label{
    margin-top:10px;
}

.btn.btn-primary.add-recipient{
    background-color: firebrick;
    margin-top: 50px;
}

.btn.btn-primary.submit{
    background-color: #3e3f3a;
    margin-top: 50px;
}