<form>
  <div class="form-group">
    <label class="exchange-name">Exchange Name</label>
    <input type="text" class="form-control" value="Gift Exchange Name" [(ngModel)]="exchangeName" name="exchangeName">
  </div>
  <hr>
  
  <!--Form starts-->
  <div class="form-group">
    <!--Loop through recipients-->
    <div *ngFor="let recipient of recipients; let i = index;" [attr.data-index]="i">

      <!--Recipient label-->
      <label class="recipient-label">Recipient {{i + 1}}</label>

      <p>User or guest?</p>
      <!--Dropdown: User or Guest-->
      <div class="select-container">
        <select class="form-control" id="sel1" [(ngModel)]="recipients[i].type" name="recipientsType{{i}}" ngDefaultControl>
          <option value="user">User</option>
          <option value="guest">Guest</option>
        </select>
      </div>
      
      <!--User inpupts-->
      <!--Username input-->
      <label *ngIf="isUser(i)" class="username-label">Username</label>
      <input *ngIf="isUser(i)" type="text" class="form-control" [(ngModel)]="recipients[i].username" name="recipientsUsername{{i}}">

      <!--Guest inputs-->
      <!--Name-->
      <label *ngIf="!isUser(i)" class="name-label">Name</label>
      <input *ngIf="!isUser(i)" type="text" class="form-control" [(ngModel)]="recipients[i].name" name="recipientsName{{i}}">
      <!--Email-->
      <label *ngIf="!isUser(i)" class="email-label">Email</label>
      <input *ngIf="!isUser(i)" type="text" class="form-control" [(ngModel)]="recipients[i].email" name="recipientsEmail{{i}}">
      <hr>
    </div>
    
    
    <!--Add recipient button-->
    <button class="btn btn-primary add-recipient" (click)="addRecipient()">Add Recipient</button>
    <button class="btn btn-primary submit" (click)="onExchangeSubmit()">Submit</button>
  </div>
</form>